<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <a class="navbar-brand" href="#">Navbar</a>

<div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes </a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">Cerulean</a></li>
                <li><a href="../cosmo/">Cosmo</a></li>
                <li><a href="../cyborg/">Cyborg</a></li>
                <li><a href="../darkly/">Darkly</a></li>
                <li><a href="../flatly/">Flatly</a></li>
                <li><a href="../journal/">Journal</a></li>
                <li><a href="../lumen/">Lumen</a></li>
                <li><a href="../paper/">Paper</a></li>
                <li><a href="../readable/">Readable</a></li>
                <li><a href="../sandstone/">Sandstone</a></li>
                <li><a href="../simplex/">Simplex</a></li>
                <li><a href="../slate/">Slate</a></li>
                <li><a href="../solar/">Solar</a></li>
                <li><a href="../spacelab/">Spacelab</a></li>
                <li><a href="../superhero/">Superhero</a></li>
                <li><a href="../united/">United</a></li>
                <li><a href="../yeti/">Yeti</a></li>
              </ul>
            </li>
            <li>
              <a routerLink="dash">DashBoard</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Cyborg </a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="#">Open Sandbox</a></li>
                <li class="divider"></li>
                <li><a href="#">bootstrap.min.css</a></li>
                <li><a href="#">bootstrap.css</a></li>
                <li class="divider"></li>
                <li><a href="#">variables.less</a></li>
                <li><a href="#">bootswatch.less</a></li>
                <li class="divider"></li>
                <li><a href="#">_variables.scss</a></li>
                <li><a href="#">_bootswatch.scss</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-md-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

            <li><a href="#" >Built With Bootstrap</a></li>
            <li><a href="#" >WrapBootstrap</a></li>
          </ul>

        </div>
  
</nav>